<div ng-controller="DataReloadWithAjaxCtrl as showCase">
    <p>
        <button ng-click="showCase.reloadData()" type="button" class="btn btn-info">
            <i class="fa fa-refresh"></i>&nbsp;Reload data
        </button>
        <button ng-click="showCase.dtInstance.changeData(showCase.newSource)" type="button" class="btn btn-info">
            <i class="fa fa-exchange"></i>&nbsp;Change data
        </button>
    </p>
    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="row-border hover"></table>
</div>